@media only Screen and (max-width: 990px){
    .box{
        width: 65%;
        padding: 12.5px;
        margin: 5px;
    }
}
@media only Screen and (max-width: 768px){
    html{
        font-size: 17.5px;
    }
    .box{
        width: 65%;
        padding: 12.5px;
        margin: 5px;
    }
    footer a{
        height: 45px;
        width: 45px;
        margin: 12px 20px 10px 0px;
    }
}
@media only Screen and (max-width: 500px){
    html{
        font-size: 14px;
    }
    .box{
        width: 75%;
        padding: 10px;
        margin: 2.5px;
    }
    footer a{
        height: 40px;
        width: 40px;
        margin: 15px 20px 10px 0px;
    }
}
@media only Screen and (max-width: 370px){
    html{
        font-size: 12px;
    }
    .box{
        width: 85%;
        padding: 5px;
        margin: 2.5px;
    }
    footer a{
        height: 25px;
        width: 25px;
        margin: 20px 20px 10px 0px;
    }
}
