            *{
                margin: 0;
                padding: 0;
                word-spacing: 2px;
            }
            *:focus{
                outline: none;
            }
            html{
                height: 100vh;
                font-size: 20px;
                overflow:hidden;
                font-family: 'Cairo', sans-serif;
            }
            body{
                background-image: url("../images/bg.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            #topbar_sec{
                display: block;
                background-image: -webkit-gradient(linear,left top, left bottom,from(#191919),to(#101010));
                background-image: linear-gradient(#191919,#101010);
                height: 10vh;
                text-align: right;
            }
            .Btn{
                display: inline-block;
                text-decoration: none;
                color: white;
                font-size: 70%;
                border: solid white 2px;
                border-radius: 20px;
                padding: 10px;
                margin: 10px;
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
            }
            .Btn:hover{
                color: #ba0000;
                background-color: white;
                font-size: 75%;
                border: solid #ba0000 2px;
            }
            #content_sec{
                display: block;
                width: 90%;
                height: 90vh;
                margin: auto;
                background-color: rgba(229, 229, 229, 0.2);
                overflow:auto;
            }
            #content_sec div{
                width: 90%;
                margin: auto;
                text-align: center;
                padding: 25px;
                color: white;
            }
            h1{
                margin: 20px 0px;
            }
            p{
                background-color: #2d2d2d;
                white-space:pre-line;
                padding: 10px;
                text-align: right;
                text-justify:auto;
                word-spacing: 3px;
            }
            @media only Screen and (max-width: 750px){
                html{
                    font-size: 15px;
                }
            }
            @media only Screen and (max-width: 600px){
                html{
                    font-size: 14px;
                }
            }
            @media only Screen and (max-width: 300px){
                html{
                    font-size: 12px;
                }
            }